<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/Navbar.ejs') %>
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-10 col-10 col-xs-10 col-sm-10 mx-auto">
                <h2 class="text-center text-danger">
                   401 You Are Not Authenticated
                </h2>
                <a href="/" class="bg-danger text-white text-center">Go to Safearea</a>
            </div>
        </div>
    </div>
</body>
</html>